html {
  scroll-behavior: smooth;
}



.navbar{
	background: #A4292E;
}

#navbar-color {
	position: absolute;
}

body {
	margin: 0;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;

}

.nav-links{
	flex: 1;
}


.nav-links ul{
	margin-left: 3.125rem;
	display: inline;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: .5rem 1.563rem;
}

.nav-links ul a{
	color: white;
	text-decoration: none;
	font-size: .813rem;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: .125rem;
	background: white;
	display: block;
	margin: auto;
	transition: .5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.Pcalendar{
	width: 100%;
	height: 100%;
	background: linear-gradient (45deg, #6ac1c5, #bda5ff);
}


#dash-sidebar{
	position: relative;
	width: 8% !important; 
	height: 100% !important;
	background: #A4292E;
	padding-left: 0%;
	
}


#dynamicBody{
	width: 200%;
	height: 200%;
	max-width: 200%;
	margin: 0 !important;
	padding-top: 4rem;
	
}

.sidebar{
	height: 100%;
}



.sidebar header {
	color: #e4e9f7;
	font-size: 20px;
	border-bottom: 1px solid silver;
	margin-bottom: 30px;
	line-height: 70px;
	text-align: center;
	user-select: none;
}
.sidebar ul a {
  font-size: 10px;
  padding-left: 10px ;
}

ul:hover {
	padding-left: 15px;
	transition: .4s;
}

#calendar_button :focus{
	;
	color: #2982f0;
	transition: .3s;
}
#search :focus{
	color: #2982f0;
	transition: .3s;
}
#clock :focus{
	color: #2982f0;
	transition: .3s;
}
#prescriptions :focus{
	color: #2982f0;
	transition: .3s;
}
#journal :focus{
	color: #2982f0;
	transition: .3s;
}
#user :focus{
	color: #2982f0;
	transition: .3s;
}
