.navbar{
	background: #A4292E;
}

body {
	margin: 0;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;
}

.nav-links{
	flex: 1;
}


.nav-links ul{
	margin-left: 3.125rem;
	display: inline;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: .5rem 1.563rem;
}

.nav-links ul a{
	color: white;
	text-decoration: none;
	font-size: .813rem;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: .125rem;
	background: white;
	display: block;
	margin: auto;
	transition: .5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

#font{
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
}


#dash-sidebar{
	width: 20% !important; 
	height: 100% !important;
	background: transparent;
	position: fixed !important;
	z-index: 1;
	transform: translateY(-10%);
}

#dynamicBody{
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	margin: 0 !important;	
	overflow: visible;
}

#dynamicElement{
	width:90%;
	max-height: 100%;
}

#dash-sidebar ul a {
	font-size: .625rem;
	padding-left: .625rem;
	padding-top: 0.563rem;
}

li:hover {
	padding-left: .938rem;
	transition: .4s;
}
.dismissbtn {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10px;
}

.modal-header {
	font-size: 1.3rem;
	color: #A4292E !important;
	font-family: 'Quicksand', sans-serif !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-body {
	font-size: 1.1rem;
	font-weight: normal !important;
	color: grey !important;
	font-family: 'Quicksand', sans-serif !important;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-close {
	padding: .625rem 1.5rem .5rem;
	font-size: .75rem;
}
.btn-danger {
   color: #fff;
   background-color: #dc3545 !important;
   border-color: #dc3545 !important;
}

.toast {
	background-color: rgba(255,255,255,100) !important;
	
}
.toast-header {
	font-family: 'Quicksand', sans-serif !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #A4292E !important;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.toast-body {
	all:unset;
	font-family: 'Quicksand', sans-serif !important;
	color: grey !important;
	padding: .75rem;
    background-clip: padding-box !important;
}