html {
  scroll-behavior: smooth;
}

.navbar{
	background: #A4292E;
}

body {
	margin: 0;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;

}

.nav-links{
	flex: 1;
}


.nav-links ul{
	margin-left: 3.125rem;
	display: inline;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: .5rem 1.563rem;
}

.nav-links ul a{
	color: white;
	text-decoration: none;
	font-size: .813rem;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: .125rem;
	background: white;
	display: block;
	margin: auto;
	transition: .5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.responsiveCalendar{
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%;
	height: 50%;
}

.responsiveCalendar iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#dash-sidebar{
	width: 10% !important; 
	height: 55% !important;
	background: transparent;

}

#dynamicBody{
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	margin: 0 !important;	
	overflow: hidden;
	position: fixed;
}

#dynamicElement{
	width:90%;
	max-height: 100%;
}

#calendar_button{
	font-family: 'Quicksand', sans-serif;
}