html {
  scroll-behavior: smooth;
}

.navbar{
	background-color: 
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;
}

.nav-links{
	flex: 1;
}

.nav-links ul{
	margin-left: 50px;
	display: inline;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
}

.nav-links ul a{
	color: #A4292E;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #A4292E;
	display: block;
	margin: auto;
	transition: .5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}
.carousel .carousel-item {
  height: 40rem;
  object-position: center; 
  
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    object-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 40rem;
    filter: blur(5px);
}

.caption{
  width: 500px;
  height: 200px;
  position: absolute;
  border-radius: 10px;
  background-color: white;
  margin: 400px;
  left: 300px;
  right: 0;
  z-index: 16;
  text-align: center;
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
  color: #A4292E;
}

.btn-outline-success{
  color: #A4292E !important;
  border-color:  #A4292E !important;
}

.btn-outline-success:hover{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E;
}

.btn-primary{
	color: white;
	background-color: #A4292E!important;
	border-color:  #A4292E !important;
}

.btn-primary:hover{
	 background-color: #A4292E;
}

.nav-link{
	background-color: #ECECEC;
}

.features{
	height: 600px;
	background-color: white;
	padding: 2% 10% 0px 10%;
}

.features-text h2{
	color: #373F51;
	
}

.features-text p:nth-child(1){
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #A4292E;
	font-size: 30px;
	line-height: 0px;
}

.features-text p:nth-child(2){
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #A4292E;
	font-size: 15px;
	line-height: 5px;
}

.features-text p:nth-child(3){
	font-family: 'Quicksand', sans-serif;
	color: #A4292E;
}

.features-text{
	width: 500px;
	margin: 50px 0px;
}

.container{
	width: 400px;

}

.crdimg1{
	border:none;
	width: 394px;
	height: 311px;
	background-size: cover;
	background-position: center;
	left: -500px;
	top: -241px;

}

.crdimg2{
	border:none;
	width: 394px;
	height: 311px;
	background-size: cover;
	background-position: center;
	top: -550px;
}

.crdimg3{
	border:none;
	width: 394px;
	height: 311px;
	background-size: cover;
	background-position: center;
	top:-862px;
	right: -500px;
}

.crdimg4{
	border:none;
	width: 394px;
	height: 311px;
	background-size: cover;
	background-position: center;
	top:149px;
	right: 996px;
}

.crdimg5{
	border:none;
	width: 394px;
	height: 311px;
	background-size: cover;
	background-position: center;
	top:-161px;
	right: 500px;
}

.crdimg6{
	border:none;
	width: 394px;
	height: 311px;
	background-size: cover;
	background-position: center;
	top:-473px;
	right: 0px;
}


.cb1,.cb2,.cb3,.cb4,.cb5,.cb6{
	opacity:0;
	transition-duration: 1s;
	
}

.cb1:hover,.cb2:hover,.cb3:hover,.cb4:hover,.cb5:hover,.cb6:hover{
	opacity: 1;
}

.card-title{
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.card-text{
	font-family: 'Montserrat', sans-serif;
}























#bgyellow {
	background-color: #F3D250;

}

#bgblue {
	background-color: #90CCF4;
}

#bgred {
	background-color: #F78888;
}

#navbar-color {
	background-color: #ECECEC;
}

#calendar:hover{
	background-color: #c3c3c3;
}

#phone:hover{
	background-color: #c3c3c3;
}

#clock:hover{
	background-color: #c3c3c3;
}

#prescriptions:hover{
	background-color: #c3c3c3;
}

#journal:hover{
	background-color: #c3c3c3;
}

#user:hover{
	background-color: #c3c3c3;
}
