html {
  scroll-behavior: smooth;
}


.navbar-brand{
	font-family: 'Quicksand', sans-serif;
}

.nav-links{
	flex: 1;
}

.nav-links ul{
	margin-left: 50px;
	display: inline;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
}

.nav-links ul a{
	color: #A4292E;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #A4292E;
	display: block;
	margin: auto;
	transition: .5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}
.carousel .carousel-item {
  height: 40rem;
  object-position: center; 
  
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    object-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 40rem;
    filter: blur(5px);
}

.caption{
  width: 40%;
  height: 28%;
  position: absolute;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 16;
  text-align: center;
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
  color: #A4292E;
}

.btn-outline-success{
  color: #A4292E !important;
  border-color:  #A4292E !important;
}

.btn-outline-success:hover{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E;
}

.btn-primary{
	color: white !important;
	background-color: #A4292E!important;
	border-color:  #A4292E !important;
}


.nav-link{
	background-color: #ECECEC;
}

.features{
	/*height: 600px;
	background-color: white;
	padding: 2% 10% 0px 10%;*/
}

.features-col {
	flex-grow: 1;
}

.features-text h2{
	color: #373F51;
	
}

.features-text p:nth-child(1){
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #A4292E;
	font-size: 30rem;
	line-height: 0rem;
}

.features-text p:nth-child(2){
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #A4292E;
	font-size: 1.2rem;
}

.features-text p:nth-child(3){
	font-family: 'Quicksand', sans-serif;
	color: #A4292E;
}

.fa-user-md{
	color: #A4292E;
}

.crdimg {
	border: none;
	background-size: cover;
	background-position: center;
}

.cb1,.cb2,.cb3,.cb4,.cb5,.cb6{
	opacity:0;
	transition-duration: 1s;
	
}

.cb1:hover,.cb2:hover,.cb3:hover,.cb4:hover,.cb5:hover,.cb6:hover{
	opacity: 1;
}

.card-title{
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.card-text{
	font-family: 'Montserrat', sans-serif;
}

.about-us{
	background-image: url("../img/bgDevs.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.about-us h1{
	color: white;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	height: 361px;
	padding-top: 27px;
}

.about-us p{
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	height: 760px;
	padding-top: 27px;
	text-align: center;
	width: 1000px;
}

footer{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer p{
	font-family: 'Montserrat', sans-serif;
}

footer p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
	color: #A4292E;
	line-height: 10px;
}

footer p:nth-child(2){
	font-size: 16px;
	color: #A4292E;
	width: 600px;
	text-align: center;
}

.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background color: #A4292E;
	margin: 20px 10px;
	border-radius: 50%;
}

.social-icons{
  color: #A4292E !important;
  border-color:  #A4292E !important;
  display: flex;
}

.fa-envelope:hover,.fa-facebook-f:hover,.fa-instagram:hover,.fa-twitter:hover{
  color: #721D1F !important;;
}

.fa-envelope,.fa-facebook-f,.fa-instagram,.fa-twitter{
	color: #A4292E !important;
}

#navbar-color {
	background-color: #ECECEC;
}

#calendar:hover{
	background-color: #c3c3c3;
}

#phone:hover{
	background-color: #c3c3c3;
}

#clock:hover{
	background-color: #c3c3c3;
}

#prescriptions:hover{
	background-color: #c3c3c3;
}

#journal:hover{
	background-color: #c3c3c3;
}

#user:hover{
	background-color: #c3c3c3;
}

