html {
  scroll-behavior: smooth;
}

#navbar-color {
	background-color: rgba(236, 236, 236, .8);
}

#check_patient {
	display: none;
}

#check_doctor {
	display: none;
}

.userchoice {
	display: inline-block;
	margin: 1rem !important;
}

.content-center {
	justify-content: center !important;
}

.signup-button {
	width: 25%;
}

.signup-header {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

.signup-container {
	background-color: #5DA2D5 !important;
	box-shadow: 2px 1px 10px 4px #888888;
}

.choice-container {
	background-color: #F3D250 !important;
	box-shadow: 2px 1px 10px 4px #888888;
}

.subheading {
	font-family: 'Rubik', sans-serif;
	color: #FFFFFF;
}

.img-choice {
	height: 38%;
	width: auto;
}

.registration {
	width: 35%;
}

.registration-birthday {
	width: 40% !important;
}

label::before {
    background-image: url("img/patient-signup.png");
}

:checked + label::before {
	
}

:checked+label img {
  	transform: scale(1.1);
  	z-index: -1;
}