html {
  scroll-behavior: smooth;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;
}

.nav-links{
	flex: 1;
}

.nav-links ul{
	margin-left: 50px;
	display: inline;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
}

.nav-links ul a{
	color: #A4292E;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #A4292E;
	display: block;
	margin: auto;
	transition: .5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.nav-link{
	background-color: #ECECEC;
}

.index-icons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10rem; 
	width:auto;
}

.icon-header {
	font-family: 'Libre Caslon Text', serif;
}

.icon-caption {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#navbar-color {
	background-color: #ECECEC;
}

#calendar:hover{
	background-color: #c3c3c3;
}

#phone:hover{
	background-color: #c3c3c3;
}

#clock:hover{
	background-color: #c3c3c3;
}

#prescriptions:hover{
	background-color: #c3c3c3;
}

#journal:hover{
	background-color: #c3c3c3;
}

#user:hover{
	background-color: #c3c3c3;
}

#check_patient {
	display: none;
}

#check_doctor {
	display: none;
}

.userchoice {
	display: inline-block;
	margin: 1rem !important;
}

.content-center {
	justify-content: center !important;
}

.signup-button {
	width: 25%;
}

.signup-header {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

.signup-container {
	background-color: #5DA2D5 !important;
	box-shadow: 2px 1px 10px 4px #888888;
}

.choice-container {
	background-color: #F3D250 !important;
	box-shadow: 2px 1px 10px 4px #888888;
}

.subheading {
	font-family: 'Rubik', sans-serif;
	color: #FFFFFF;
}

.img-choice {
	height: 38%;
	width: auto;
}

.registration {
	width: 35%;
}

.registration-birthday {
	width: 40% !important;
}

label::before {
    background-image: url("img/patient-signup.png");
}

/*
:checked + label::before {
	
}
*/

:checked+label img {
  	transform: scale(1.1);
  	z-index: -1;
}