body {
  background-color: #bad7ff;
}

.center{
  position: absolute;
  top: 56%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: white;
  border-radius: 4%;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h1{
  text-align: center;
  padding: 2%;
  border-bottom: 1px solid silver;
  font-family: 'Quicksand', sans-serif;
  color: #A4292E;
}

.center form{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #A4292E;
}

.center form .user_info {
  display: flex;
  flex-direction: row;
}

.center form .user_box {
  display: flex;
}

.center form .user_pass {
  display: flex;
}

form .txt_field{
  position: relative;
  border-bottom: .1rem solid #adadad;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.txt_field input{
  width: 100%;
  padding: .1rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 30%;
  left: .1rem;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #12c0ff;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #A4292E;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

input[type="submit"]{
  width: 85%;
  height: 3rem;
  border: 1px solid;
  background: #A4292E;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  border-color: #12c0ff;
  transition: .5s;
}

.register_link{
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.register_link a{
  color: #12c0ff;
  text-decoration: none;
}

.register_link a:hover{
  text-decoration: underline;
}

.userchoice {
  display: inline-block;
  margin-right: 80px;
  margin-left: 80px;
}

.terms{
   font-family: 'Quicksand', sans-serif;
   text-align: center;
   padding-left: 5rem;
   padding-right: 5rem;
   color: #666666;
   font-size: 70%;
}

.terms a{
    color: #12c0ff;
    text-decoration: none;
}

.terms a:hover{
  text-decoration: underline;
}

/*
:checked + label::before {
  
}
*/

#check_patient {
  margin-right: 3px;
}
#check_doctor {
  margin-right: 3px;
}
:checked+label {
  opacity: 100%;
    transform: scale(1.1);
    transition: transform 0.5s ;
    z-index: -1;
}
