.Journal h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

.journalEntry{
	margin-left: 1%;
   	margin-top: 1.5%;
    text-align: center;
}

.journalOutput p{
	color:#FFF; font-family: 'Quicksand', sans-serif; 
	padding-top: 1%; 
	height: 2%;
}

.btn-outline-success{
  color: #A4292E !important;
  border-color:  #A4292E !important;
  font-family: 'Quicksand', sans-serif; 
  align-items: center;

}

.btn-outline-success:hover{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E !important;
}

.text-center{
	width: 50%;
  padding-top: 2%;
  padding-left: 3%;
}

#entries{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 1%;
}

#PatientJournal{
    background: #A4292E;
    margin: 0 auto;
    width: 70%;
    height: 75% !important;
    border:1px solid #ccc;
    border-radius:10px;
    margin-top: 73px;

}

#output{
  width: 70%;
  height: 73%;
}