.Journal h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

.journalEntry{
	margin-left: 1%;
  margin-top: 1.5%;
  text-align: center;
}

.clearBtn{
	color:#FFF; font-family: 'Quicksand', sans-serif; 
  padding-top: 0.5%;
	height: 2%;
}

.submit-btn{
  color: #A4292E !important;
  border-color:  #A4292E !important;
  font-family: 'Quicksand', sans-serif; 
  align-items: center;

}

.submit-btn:hover{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E !important;
}

.text-center{
	width: 50%;
  padding-top: 2%;
}

.journalOutput{
  padding-bottom: 1%;
}

.dropdown{
  padding-bottom: 3%;
}

#entries{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 1%;
}

#PatientJournal{
    background: #A4292E;
    margin: 0 auto;
    width: 70%;

    border:1px solid #ccc;
    border-radius:10px;
    margin-top: 73px;

}

#output{
  width: 70%;
  height: 30%;
}

#dropdownMenuButto{
  background-color: white !important;
  color:  #A4292E !important ;
}