.crdimg {
	border: none;
	background-size: cover;
	background-repeat: no-repeat;

}

.card-title{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-align: center;
}

.list{
	font-family: 'Montserrat', sans-serif;
}

.card{
	width: 360px;
	margin-top: : 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-bottom: 1rem !important;
}

.cb1 li{
	font-family: 'Montserrat', sans-serif;
} 

.container{
	align-items: center;
}

.mt-5 {
    margin-top: 3rem!important;
}

.doctorName{
	font-family: 'Rubik', sans-serif;
}

.PrespHeader h1{
	padding-top: 3rem;
	font-family: 'Montserrat', sans-serif;
	color:  #A4292E;
	font-weight: bold;
}

