.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}


.BookingHeader h1, p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: white;
  font-weight: bold;
  padding-top: 3%;
}

.searchBar{
  width: 20%;
  padding-bottom: 2rem;
  padding-top: 3%;
}

.search-btn{
  color: white !important;
  border-color:  #A4292E !important;
  font-family: 'Quicksand', sans-serif;

}

.googlemap{
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
}

.mapouter{
  float: right;
  right: 1rem;
  top: 0rem;
  max-width: 700px;
}

.search-btn:hover{
  color: #A4292E !important;
  border-color:  white !important;
  background-color: white !important;
}



.nearestDoc p{
	color: #A4292E;
	font-family: 'Quicksand', sans-serif;
  padding-top: 5px;
}


.card-title{
    font-family: 'Quicksand', sans-serif;
    color: #A4292E;
}

.card-text{ 
	color: #A4292E !important;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.bookNow{
  color: #A4292E !important;
  border-color:  #A4292E !important;
  font-family: 'Quicksand', sans-serif;
}

.bookNow:hover{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E !important;
}


#PatientSearch{
    background: #A4292E;
    margin: 0 auto;
    width: 90%;
    border:1px solid #ccc;
    border-radius:10px;
    margin-top: 3.125rem;
    margin-right: .188rem;
}

#text-above-cards{
	 background: white;
    margin: 0 auto;
    height: 2rem;
    border-radius:6px;
    float: left;
    margin-left: 2rem;
    margin-top: 2%;
}

#docCards{
  width: 90%;
  float: center;
}

form{
	padding-top: 1rem;
}


