.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.Heading_patient {
	text-align: center !important;
	font-family: 'Montserrat', sans-serif;
	color: white;
  font-weight: bold;
}
.Heading_three {
  text-align: center !important;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
}

#main-header {
  color: #A4292E !important;
  font-weight: 400;
}


.searchBar{
  width: 30%;
  padding-bottom: 2rem;
}

.search-btn{
  color: white !important;
  border-color:  #A4292E !important;
  font-family: 'Quicksand', sans-serif;

}

.card-img-top {

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8.125rem;
  width: 8.125rem;
  margin-top: 0.875rem;
  border-radius: 50%;
  border: 0.0625rem solid grey;
}



.search-btn:hover{
  color: #A4292E !important;
  border-color:  white !important;
  background-color: white !important;
}

.docCards{
	z-index: 1;
	float: left;
	margin-top: 6 rem;
	height: auto;
  padding-left: 2.7rem;
  padding-top: 1rem;
}

.cardTitle{
    font-family: 'Quicksand', sans-serif;
    color: #A4292E;
}

.card-text{ 
	color: #A4292E !important;
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.Prescription{
  color: #A4292E !important;
  border-color:  #A4292E !important;
  font-family: 'Quicksand', sans-serif;
}

.Prescription:hover{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E !important;
}

#PatientSearch{
    background: #A4292E;
    margin: 0 auto;
    width: 90%;
    border:1px solid #ccc;
    border-radius:10px;
    margin-top: 3.125rem;
    margin-right: .188rem;
}



#text-above-cards{
	 background: white;
    position: relative;
    margin: 0 auto;
    width: 15%;
    height: 2rem;
    border-radius:6px;
    z-index: 1;
    float: left;
    margin-left: 2rem;
}

form{
	padding-top: 1rem;
}


.presWrapper{
  position: relative;
  top: 1.1%;
  left: 0%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.0625rem 1.25rem 0 rgba(69,90,100,.08);
  max-width: 60%;
  background: #fff;
  padding: 1.875rem 1.5625rem;
  border-radius: .25rem;
  visibility: hidden;
  
}

.category {
  color: black;
}

.dropdown {
  position: relative;
}

.form-group {
  color: #A4292E;
  margin: 0;
}
.form-control {
  padding-left: 0 !important;
  width: 100%;
  display: inline-block;
  font-size: .95rem;
  text-align: left;
  margin-left: 0rem !important; 
  margin-bottom: 0.625rem;
  color: #717880;
  border: 0;
  border-bottom: 0.0625rem solid #3fb6a8;
  outline: none;
  border-radius: 0%;
  box-sizing: border-box;
  resize: vertical;

}

input[type="date"]{
  display: flex;
  width: 100%;
  font-size: .95rem;
  text-align: left;
  margin-bottom: 0.625rem;
  color: #717880;
  border: 0;
  border-bottom: 0.0625rem solid #3fb6a8;
  outline: none;
  box-sizing: border-box;
  resize: vertical;
}
input[type="text"]{
  display: inline-block;
  width: 100%;
  font-size: .95rem;
  text-align: left;
  margin-bottom: 0.625rem;
  color: #717880;
  border: 0;
  border-bottom: 0.0625rem solid #3fb6a8;
  outline: none;
  box-sizing: border-box;
  resize: vertical;
}

textarea{
 
  border-radius: .25rem;
  border-color:  #3fb6a8;
  outline: none;
  height: 50%;
  width: 100%;


}
textarea:focus{
  color: white !important;
  border-color:  #A4292E !important;
  background-color: #A4292E !important;
  transition: 0.5s;
}
.Submit .Prescription {
  margin: 15px;
}

label[for="txtMedicine"], [for="Frequency"], [for="selRoute"], [for="addnote"], [for="takeUntil"]{
  color: #A4292E;
  display: block;
  text-align: left;
}

.box_fill {
  align-items: left !important;

}

.page-item{
  font-family: 'Quicksand', sans-serif !important;
  line-height: 1.6;
}
.page-link {
  color: #A4292E !important;
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.toast-header {
  font-family: 'Quicksand', sans-serif !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #A4292E !important;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.toast-body {
  all:unset;
  font-family: 'Quicksand', sans-serif !important;
  color: grey !important;
  background: #fff !important;
  padding: .75rem;
}